.main-appbar{
    margin-bottom: 50px;
}
.short-icon{
    transform: rotate(90deg);
    transform-origin: center;
}
.loading{
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #fff;
    
}
.loading img{
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    top:calc(50% - 75px);
}
.btn-sort,.btn-add{
    margin-bottom: 15px !important;
    text-transform: capitalize  !important;
}

.user-card .MuiListItemIcon-root{
    min-width: 35px !important;
}
.user-card .MuiTypography-root{
font-size: 14px;
}
.actions-buttons{
    display: flex;
    justify-content: space-between;
}
.MuiDialog-paperWidthSm{
    width: 100%;
}
.MuiTextField-root{
    width: 100%;
}